<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about" class="active">about</a>
  <a href="/bakery">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
  <a href="/home">home</a>
</div>
<!-- end class vertical-menu -->

<div class="container">

  <hr>
  <div class="page-heading">
    About
  </div>
  <hr>

  <div class="jumbotron">
    <img id="coffee-and-peonies" src="styles/images/about/coffee-and-peonies.jpg" alt="coffee and peonies">
  </div>
  <div id="francoise-boulanger">
    <p>
      Named after the bustling town center of Place Boulangerie in the heart of
      Paris, France, Boulangerie is a Parisian bakery and café located in the
      center of Montclair.

      Pastry chef and owner, Françoise Boulanger, was educated at Le Cordon Bleu
      and is delighted to share a taste of Paris with all who enter the doors of
      Boulangerie.

      Allons jam!
    </p>
  </div>

  <hr>

  <!-- <footer ng-include="'/views/footer.html'"></footer> -->
  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
