<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about" class="active">about</a>
  <a href="/bakery">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
  <a href="/home">home</a>
</div>
<!-- end vertical-menu class  -->

<div class="container">

  <hr width="50%">

  <div class="page-heading">
    About
  </div>

  <hr width="50%">

  <div class="jumbotron">

      <img id="coffee-and-peonies" src="styles/images/about/coffee-and-peonies.jpg" alt="coffee and peonies">
        </div>
    <div class="">
      <p id="francoise-boulanger">
        Pastry chef and owner, Françoise Boulanger, educated at Le Cordon Bleu
        in Paris...
      </p>
    </div>
    <!-- end class col-sm-6 -->

  <!-- end row class  -->

  <hr width="50%">

  <!-- <footer ng-include="'/views/footer.html'"></footer> -->
  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
