<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about">about</a>
  <a href="/bakery" class="active">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
  <a href="/home">home</a>
</div><!-- end vertical-menu class  -->

<div class="container" class="page-wrap">

  <hr width="50%">

  <div class="page-heading">
    Bakery
  </div>

  <hr width="50%">

  <div class="row">
    <div class="col-sm-6">
      <img id="macarons" src="styles/images/bakery/macarons.jpg" alt="macarons">
    </div>
    <div class="col-sm-6">
      <img id="pie" src="styles/images/bakery/pie.jpg" alt="pie">
    </div>
    <!-- end class col-sm-6 -->
</div>
<!-- end row class  -->

<hr>

<div class="row">
  <div class="col-sm-6">
    <img id="macarons-2" src="styles/images/bakery/macarons-2.jpg" alt="macarons 2">
  </div>
  <div class="col-sm-6">
    <img id="eggs" src="styles/images/bakery/eggs.jpg" alt="eggs">
  </div>
  <!-- end class col-sm-6 -->
</div>
<!-- end row class  -->

  <hr>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
