<header></header>

<p id="boulangerie">Boulangerie</p>

<div class="nav-control">
  <span class="open-nav" onclick="openNav()">&#9776;</span>
</div>

<div class="vertical-menu">
  <span id="close-nav" onclick="closeNav()">&times;</span>
  <a href="/home">home</a>
  <a href="/about">about</a>
  <a href="/bakery" class="active">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
</div>
<!-- end class vertical-menu -->

<div class="container">

  <hr>
  <div class="page-heading">
    Bakery
  </div>
  <hr>

  <p id="bakery-copy">
    A great bakery is an essential part of everyday life. The smell of
    freshly baked bread and the decadent aroma of buttery layers melting
    into a freshly baked croissant — to us, these things define comfort.
    Whether our loaves find a place on your table every night, or our
    pastries and coffee are your essential morning ritual, we hope that
    Boulangerie’s bakery becomes a thread in the fabric of your life.
  </p>

  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <img id="brioche" src="styles/images/bakery/brioche.png" alt="brioche">
    </div>

    <div class="col-sm-4"></div>
  </div>
  <!-- end row class  -->

  <hr>
  <div class="menu-heading">
    Menu
  </div>
  <hr>

  <div class="menu">

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="menu-content">

          <div class="form">
            <form class="form-style-menu" id="bakery-form" method="post">
              <img id="logo-menu" src="styles/images/icons/logo.png" alt="logo">
              <br>
              <label for="field1">
                <span>french macaron $2</span><input type="text" name="field1"/>
              </label>
              <label for="field2">
                <span>croissant $2</span><input type="email" name="field2"/>
              </label>
              <label for="field3">
                <span>brioche $3</span><input type="text" name="field3"/>
              </label>
              <label for="field4">
                <span>pain au chocolat $3</span><textarea name="field4" onkeyup="adjust_textarea(this)"></textarea>
              </label>
              <label for="field5">
                <span>épi baguette $4</span>
              </label>
            </form>
          </div>
          <!-- end div class form  -->

        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <!-- end div class row  -->
  </div>
  <!-- end div class menu -->

  <hr>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->

<script>
  function openNav() {
    document.getElementsByClassName("vertical-menu")[0].style.display = "block";
    document.getElementById("close-nav")[0].style.display = "block";
  }
  function closeNav() {
    document.getElementsByClassName("vertical-menu")[0].style.display = "none";
  }
</script>
