<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about">about</a>
  <a href="/bakery" class="active">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
  <a href="/home">home</a>
</div>
<!-- end class vertical-menu -->

<div class="container" class="page-wrap">

  <hr>
  <div class="page-heading">
    Bakery
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <img id="macarons" src="styles/images/bakery/macarons.jpg" alt="macarons">
    </div>
    <div class="col-sm-6">
      <!-- <img id="pie" src="styles/images/bakery/pie.jpg" alt="pie"> -->
      <p id="bakery-copy">
        A great bakery is an essential part of everyday life. The smell of
        freshly baked bread and the decadent aroma of buttery layers melting
        into a freshly baked croissant — to us, these things define comfort.
        Whether our loaves find a place on your table every night, or our
        pastries and coffee are your essential morning ritual, we hope that
        Boulangerie’s bakery becomes a thread in the fabric of your life.
      </p>
      <img id="fancy-coffee-2" src="styles/images/bakery/fancy-coffee-2.jpg" alt="fancy coffee">
    </div>
    <!-- end class col-sm-6 -->
</div>
<!-- end row class  -->

<hr>

<div class="row">
  <div class="col-sm-6">
    <!-- <img id="macarons-2" src="styles/images/bakery/macarons-2.jpg" alt="macarons 2"> -->
  </div>
  <div class="col-sm-6">
    <!-- <img id="eggs" src="styles/images/bakery/eggs.jpg" alt="eggs"> -->
  </div>
  <!-- end class col-sm-6 -->
</div>
<!-- end row class  -->

  <hr>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
