<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about">about</a>
  <a href="/bakery">bakery</a>
  <a href="/cafe" class="active">café</a>
  <a href="/contact">contact</a>
  <a href="/home">home</a>
</div>
<!-- end class vertical-menu -->

<div class="container" class="page-wrap">

  <hr>
  <div class="page-heading">
    Café
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <img id="carnation" src="styles/images/cafe/carnation.jpg" alt="carnation"
      class="img-responsive">
    </div>

    <div class="col-sm-6">
      <img id="bundt-cake" src="styles/images/cafe/bundt-cake.jpg" alt="bundt cake">
    </div>
  </div>
  <!-- end row class  -->

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <!-- <img id="silverware" src="styles/images/silverware.jpg" alt="silverware"> -->
        <img id="waffles-and-cherries" src="styles/images/cafe/waffles-and-cherries.jpg" alt="waffles and cherries">
        <img id="sandwich" src="styles/images/cafe/sandwich.jpg" alt="sandwich">
    </div>

    <div class="col-sm-6">
      <img id="cafe-interior" src="styles/images/cafe/cafe-interior.png" alt="cafe interior">
    </div>
  </div>
  <!-- end row class  -->

  <hr>
  <div class="menu-heading">
    Menu
  </div>
  <hr>

  <div class="menu">

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="menu-content">

          <div class="form">
            <form class="form-style-4" id="bakery-form" method="post">
              <img id="cupcake-menu" src="styles/images/icons/cupcake.png" alt="cupcake icon">
              <br>
              <label for="field1">
                <span>pâté $15</span><input type="text" name="field1"/>
              </label>
              <label for="field2">
                <span>oeufs mimosa $10</span><input type="email" name="field2"/>
              </label>
              <label for="field3">
                <span>beet tartare $15</span><input type="text" name="field3"/>
              </label>
              <label for="field4">
                <span>quiche lorraine $20</span><textarea name="field4" onkeyup="adjust_textarea(this)"></textarea>
              </label>
              <label for="field5">
                <span>oysters $25</span>
              </label>
            </form>
          </div>
          <!-- end div class form  -->

        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <!-- end div class row  -->
  </div>
  <!-- end div class menu -->

  <hr>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
