<header></header>

<p id="boulangerie">Boulangerie</p>

<div class="vertical-menu">
  <a href="/home">home</a>
  <a href="/macarons">macarons</a>
  <a href="/cake">cake</a>
  <a href="/pie">pie</a>
  <a href="/coffee" class="active">coffee</a>
</div><!-- end vertical-menu class  -->


<div class="container">

  <div class="row">
  <div class="col-sm-6">
    <img id="fancy-coffee" class="img-responsive" src="styles/images/fancy-coffee-2.jpg" alt="fancy coffee">
      <!-- height="500px" width="600px" -->
  </div>
<!-- <p> -->
  <div class="col-sm-6">
    <img id="hot-chocolate" class="img-responsive" src="styles/images/hot-chocolate.jpg" alt="hot chocolate">
  </div>
<!-- </p> -->
</div>
<!-- end row class  -->

  <footer>

  </footer>

</div>
<!-- end container class  -->
