<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about">about</a>
  <a href="/bakery">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact" class="active">contact</a>
  <a href="/home">home</a>
</div>
<!-- end class vertical-menu -->


<div class="container">

  <hr>
  <div class="page-heading">
    Contact
  </div>
  <hr>

  <div class="row">

    <div class="col-sm-6">
      <img id="hot-chocolate" class="img-responsive" src="styles/images/contact/hot-chocolate.jpg" alt="hot chocolate">
    </div>

    <div class="form">
      <form class="form-style-4" action="" method="post">
        <label for="field1">
          <span>Enter Your Name</span><input type="text" name="field1" required="true" />
        </label>
        <label for="field2">
          <span>Email Address</span><input type="email" name="field2" required="true" />
        </label>
        <label for="field3">
          <span>Short Subject</span><input type="text" name="field3" required="true" />
        </label>
        <label for="field4">
          <span>Message to Us</span><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea>
        </label>
        <label>
          <span>&nbsp;</span><input type="submit" value="Send Letter" id="send-letter-button"/>
        </label>
      </form>
    </div>
      <!-- end div class form  -->
  </div>
<!-- end row class  -->

  <hr>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
