<header></header>

<p id="boulangerie">Boulangerie</p>

<div class="vertical-menu">
  <a href="/home" class="active">home</a>
  <a href="/macarons">macarons</a>
  <a href="/cake">cake</a>
  <a href="/pie">pie</a>
  <a href="/coffee">coffee</a>
</div><!-- end vertical-menu class  -->


<div class="container">

  <div class="main-image">
    <img id="cupcake" src="styles/images/cupcake.png" alt="cupcake">
    <h3 id="tagline">Parisian bakery and café</h3>
  </div>


  <footer>
    <div id="social-media">
      <img id="instagram" src="styles/images/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
