<header></header>

<p id="boulangerie">Boulangerie</p>
<!-- <br> -->

<div class="vertical-menu">
  <a href="/about">about</a>
  <a href="/bakery">bakery</a>
  <a href="/cafe">café</a>
  <a href="/contact">contact</a>
  <a href="/home" class="active">home</a>
</div>
<!-- end class vertical-menu -->


<div class="container">

  <div class="home-image">
    <img id="cupcake-home" src="styles/images/icons/cupcake.png" alt="cupcake icon">
    <h3 id="tagline">Parisian bakery and café</h3>
  </div>

  <br>

  <footer class="site-footer">
    <div id="social-media">
      <img id="instagram" src="styles/images/icons/instagram.png" alt="instagram"/>
      <img id="pinterest" src="styles/images/icons/pinterest.png" alt="pinterest"/>
    </div>
  </footer>

</div>
<!-- end container class  -->
