/*** PARISIENNE ***/

@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: local('Parisienne'), local('Parisienne'), url(https://fonts.googleapis.com/css?family=Parisienne) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 700;
  src: local('Parisienne'), local('Parisienne'), url(https://fonts.googleapis.com/css?family=Parisienne) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/*** SITE ***/

header {
  /* position: fixed; */
  /* top: 0; */
  left: 0;
  margin-top: 100px;
  /* height: 100px; */
}

#boulangerie {
  font-family: Parisienne;
  color: #787878;
  font-size: 50px;
  margin-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.vertical-menu {
    width: 200px;
    margin-left: 20px;
    position: fixed;
    float: left;
    z-index: 0;
    /* margin-top: 100px; */
}

.vertical-menu a {
    background-color: White;
    color: #787878;
    font-family: Futura;
    display: block; /* make the links appear below each other */
    padding: 12px;
    text-decoration: none; /* remove underline from links */
}

.vertical-menu a:hover {
    background-color: #CDC1C5; /* background color on mouse-over */
}

.vertical-menu a.active {
    background-color: #8B5F65; /* add a color to the "active/current" link */
    color: White;
  }

.container {
  position: relative;
  z-index: 2;
}

.page-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Parisienne;
  color: White;
  text-align: center;
  font-size: 30px;
  background: #495C70;
  /* width: 50%; */
}

hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

.menu-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  font-family: Parisienne;
  font-size: 30px;
  color: White;
  text-align: center;
  background: #495C70;
}

#cupcake-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  zoom: 15%;
  opacity: .50;
}

.menu {
  font-family: Futura;
  color: #5C5C5C;
  min-height: 850px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/menu/silverware.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-content {
  text-align: center;
}

footer {
  height: 40px;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 20px;
  position: relative;
}



/*** ABOUT ***/

.jumbotron {
  border-radius: 0;
}

#coffee-and-peonies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#francoise-boulanger {
  color: #787878;
  font-family: Futura;
  font-variant: small-caps;
  text-align: justify;
}



/*** BAKERY ***/

#macarons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: right;
}

#bakery-copy {
  font-family: Futura;
  font-variant: small-caps;
  color: #787878;
  text-align: justify;
  margin-top: 50px;
}

#fancy-coffee-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 75%;
}

#pie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
}

#bakery-form {
  opacity: .90;
  text-align: left;
}



/*** CAFE ***/

#carnation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: right;
}

#bundt-cake {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#waffles-and-cherries {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: right;
}

#sandwich {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
  float: right;
}

#cafe-copy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
  float: right;
  font-family: Futura;
  font-variant: small-caps;
  color: #787878;
  text-align: justify;
}

#cafe-interior {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



/*** CONTACT ***/

#hot-chocolate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  float: right;
}

.form-style-4{
    /* width: 550px; */
    /* height: 350px; */
    width: 99%;
    float: right;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Futura;
    font-size: 16px;
    color: #FFF;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}

#send-letter-button {
  font-family: Parisienne;
  font-size: 20px;
  color: White;
}

.hours {
  font-family: Futura;
  color: #787878;

}

.hours-copy {
  font-family: Futura;
  color: #787878;
  justify-content: center;

}



/*** HOME ***/

.home-image {
  min-height: 850px;
  /* height: 100vh; */
  /* height: 80vh; */
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/home/colored-tiles.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cupcake-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 100px;
  opacity: .50;
}

#tagline {
  font-family: Parisienne;
  color: White;
  text-align: center;
}

#social-media {
  display: inline-block;
  text-align: center;
  zoom: 10%;
}

#instagram {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  float: left;
}

#pinterest {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  float: right;
}
